<div class="container-fluid mt-2">
    <div class="hero-image custom-bg">
        <div class="container p-5">
            <h1 class="fw-bold">.NET Daily</h1>
            <div class="text-minor">
                <p class="subhead fs-5 mb-0 text-white-50">Your daily dose of all things C# and .NET</p>
                </div>
        </div>
    </div>
</div>