@page "/"

<PageTitle>.NET Daily</PageTitle>
<Hero />

<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <div class="card mt-3">
                <img src="/images/001.jpg" class="card-img-top img-fluid custom-bg" alt="Articles">
                <div class="card-body">
                    <h4 class="card-title">Articles</h4>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mt-3">
                <img src="/images/002.jfif" class="card-img-top img-fluid custom-bg" alt="Videos">
                <div class="card-body">
                    <h4 class="card-title">Videos</h4>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mt-3">
                <img src="/images/003.jfif" class="card-img-top img-fluid custom-bg" alt="Interview Prep">
                <div class="card-body">
                    <h4 class="card-title">Interview Prep</h4>
                </div>
            </div>
        </div>
    </div>
</div>